@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
$fancy-font: 'Agbalumo', sans-serif;

* {
    margin: 0;
    padding: 0;
}



.navigation {
    background-color: #232F3E;
    color: white;
    font-family: $fancy-font;
    h1{
        text-align: center;
        
        padding: .5rem;
    }
    

    .navOptions{
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: white;
            margin-bottom: .5rem;
            padding-bottom: .25rem;
            overflow: hidden;
            position: relative; // Add this line to make ::after relative to the link

            /* Slide in */
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%; // Start from the middle
                width: 0; // Initially, have zero width
                height: 0.1em;
                background-color: white;
                opacity: 0;
                transition: width 300ms, opacity 300ms, transform 1000ms;
                transform: translateX(-50%); // Adjust the transform to center the underline
            }

            &:hover::after,
            &:focus::after {
                width: 100%; // Expand to 100% on hover or focus
                opacity: 1;
            }
        }
    }


}