@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
$fancy-font: 'Agbalumo', sans-serif;
$bgcolor: #232F3E;
$bgOffset: #526070;

* {
    margin: 0;
    padding: 0;
}

.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}



@media screen and (max-width: 48rem) {
    .navigation{
        .container{
            display: inline-block !important;
        }
        .closed {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-out;
          }
          
        .open {
        max-height: 200px; /* Adjust this value based on your content */
        transition: max-height 1s ease-in;
        }
          
    }


    .loadingScreen img {
        max-width: 80%;
    }
    .loginPage, .editMenu{
        form{
            grid-template-columns: 1fr !important;
        
        }
    }
}



.navigation {
    background-color: $bgcolor;
    color: white;
    font-family: $fancy-font;
    h1 {
        text-align: center;
        padding: .5rem;
    }

    .container {
        display: none;
        cursor: pointer;
        position: absolute;
        top: .4rem;
        right: 1rem;

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 1s;
        }

        &.change {
            .bar1 {
                transform: translate(0, 11px) rotate(-45deg);
            }
            .bar2 {
                opacity: 0;
            }
            .bar3 {
                transform: translate(0, -11px) rotate(45deg);
            }
        }
    }

    .navOptions {
        
        ul{
            display:flex;
            justify-content: space-around;
            list-style-type: none;
            padding-bottom: 1rem;
        }
        a {
            text-decoration: none;
            color: white;
            margin-bottom: .5rem;
            padding-bottom: .25rem;
            overflow: hidden;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 0.1em;
                background-color: white;
                opacity: 0;
                transition: width 300ms, opacity 300ms, transform 1000ms;
                transform: translateX(-50%);
            }

            &:hover::after,
            &:focus::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: end;
    margin: 1rem;
}


// Mixin for common styles
@mixin button-styles {
    background-color: var(--lightpurple-color);
    box-shadow: 2px 3px 4px black;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: white;
  }
  
  .loading{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 10rem;
  }
   
  .loadingScreen img {
    margin-top: 2rem;
    min-width: 80%;
    border-radius: 30rem;
    justify-self: center;
}
  .errorModal {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
  }
  
  .showError {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
  }
  
  .errorScreen {
    background-color: grey;
    position: absolute;
    padding: 1rem;
    justify-self: center;
   
  
    h1 {
      color: white;
      text-shadow: red 1px 1px;
      margin-bottom: 0.5rem;
    }
  
    h2 {
      color: white;
      margin-bottom: 1rem;
    }
  
    button {
      @include button-styles; // Using the mixin
    }
  }
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        
        font-family: $fancy-font;
    }
    .subtitle{
        font-family: $fancy-font;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    h3{
        font-family: $fancy-font;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .about{
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 50rem;
        background-color: $bgcolor;
        border-radius: 1rem;
        color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        p{
            margin: 1rem;
            font-size: 1.25rem;
        }
    }

    a{
        text-decoration: none;
        color: white;
        background-color: $bgcolor;
        margin-top: 1rem;
        padding: 1.25rem;
        border-radius: 10rem;
        font-family: $fancy-font;
        font-size: 1.25rem;
    }
    a:hover{
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        background-color: $bgOffset;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    a:active{
        box-shadow: none;
        transform: translateY(0);
    }
}
.loginPage, .editMenu {
    display: flex;
    justify-content: center;
    text-align: center;

    form {
        display: grid;
        grid-template-columns: 20rem 20rem;
        h2 {
            grid-column: span 2;
            text-align: center;
            margin-bottom: 1rem;
        }
        label{
            font-size: 1.25rem;
        }
        input{
            margin-bottom: 1rem;
            font-size: 1.25rem;
        }
        button {
            grid-column: span 2;
            font-size: 1.25rem;
        }
        textarea{
            margin-bottom: 1rem;
        }
    }
}



.listings{
    h1{
        text-align: center;
    }
    .listingDisplay{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .listingCard {
        width: 20rem;
        border: 10px solid $bgOffset; /* 1px in rem units */
        border-radius: 1rem;
        margin: 10px; /* 10px in rem units */
        padding: 10px; /* 10px in rem units */
        display: flex;
        flex-direction: column;
      }
      
      .cardImage{
        display: flex;
        
        height: 8rem;
        align-self: center;
        .product-image {
            max-width: 10rem; /* 100px in rem units */
            max-height: 8rem; /* 100px in rem units */
            object-fit: contain;

            justify-self: center;
          }
      }
      
      
      
      .product-name {
        font-size: 1.2rem; /* 1.2em in rem units */
        margin: 0 0 1rem 0;
        text-align: center;
        font-family: $fancy-font;
      }
}


